[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "binsreg"]
	path = binsreg
	url = https://github.com/cran/binsreg
[submodule "lpcde"]
	path = lpcde
	url = https://github.com/cran/lpcde
[submodule "lpdensity"]
	path = lpdensity
	url = https://github.com/cran/lpdensity
[submodule "ramchoice"]
	path = ramchoice
	url = https://github.com/cran/ramchoice
[submodule "rd2d"]
	path = rd2d
	url = https://github.com/cran/rd2d
[submodule "rddensity"]
	path = rddensity
	url = https://github.com/cran/rddensity
[submodule "rdlocrand"]
	path = rdlocrand
	url = https://github.com/cran/rdlocrand
[submodule "rdmulti"]
	path = rdmulti
	url = https://github.com/cran/rdmulti
[submodule "rdpower"]
	path = rdpower
	url = https://github.com/cran/rdpower
[submodule "scpi"]
	path = scpi
	url = https://github.com/cran/scpi
